@import 'variables'; 

.header {
  background-color: rgba(0, 0, 0, 0.8) !important;
  backdrop-filter: blur(10px);
  transition: all var(--animation-duration) ease;

  &:hover {
    background-color: rgba(0, 0, 0, 0.9) !important;
  }

  .logo {
    color: var(--text-color);
    text-decoration: none;
    font-weight: 600;
    font-size: 1.5rem;
    transition: color var(--animation-duration) ease;

    &:hover {
      color: var(--mui-primary-color);
    }
  }
}
