@import 'variables'; 

.movie-details {
  animation: fadeIn var(--animation-duration) ease-out;
  padding: 2rem;

  .back-button {
    margin-bottom: 1rem;
    animation: fadeIn var(--animation-duration) ease-out;
  }

  .details-card {
    background-color: var(--card-bg-color);
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition: all 0.3s ease;

    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    }

    @media (min-width: 768px) {
      flex-direction: row;
    }
  }

  .movie-title {
    color: var(--text-color);
    font-weight: 600;
    margin-bottom: 1rem;
    animation: fadeInText var(--animation-duration) ease-out;
  }

  .movie-info {
    color: var(--secondary-text-color);
    margin-bottom: 0.5rem;
    animation: fadeInText var(--animation-duration) ease-out;
  }

  .genre-chip {
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    background-color: var(--mui-primary-color);
    color: var(--text-color);
    animation: fadeInText 1.2s ease-out;
  }

  .movie-plot {
    color: var(--text-color);
    margin-top: 1rem;
    line-height: 1.6;
    animation: fadeInText 1.5s ease-out;
  }

  .loading-text,
  .error-text,
  .no-movie-text {
    text-align: center;
    font-size: var(--font-size);
    margin-top: 2rem;
    color: var(--text-color);
    animation: fadeInText 1.2s ease-out;
  }

  .error-text {
    color: var(--mui-primary-color);
  }
}
