:root {
    --mui-primary-color: #ff4081; /* Primary Color */
    --mui-hover-color: #f50057;  /* Hover color for movie titles */
    
    --bg-color: rgba(255, 255, 255, 0.1); /* Background color for cards */
    --card-bg-color: rgba(255, 255, 255, 0.1); /* Card background color */
    --error-color: #fd0b5c;  /* Error color */
    --text-color: #ffffff; /* Main text color */
    --secondary-text-color: rgba(255, 255, 255, 0.7); /* Secondary text color */
    --table-header-bg: rgba(0, 0, 0, 0.2); /* Table header background color */
    --table-row-hover-bg: rgba(255, 255, 255, 0.1); /* Table row hover color */
    
    --font-family: Arial, sans-serif; /* Common font */
    --font-size: 1.2rem; /* Default font size for text */
    --animation-duration: 0.5s; /* Animation duration */
  }
  